<script src="https://cdnjs.cloudflare.co /ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
  var socket = io('http://localhost:3000', {
    transports: ['websocket']
  });
  socket.on('connect', function () {
    console.log(window)
  });
  socket.on('event', function (data) {});
  socket.on('disconnect', function () {});
  socket.emit('save', {
    data: 'dasfasdfasd'
  })
</script>